<h1>Your Booking Requests</h1>
<br>
<%= link_to 'Scheduled Events', upcoming_events_path%>
<br>
<% @open_bookings.each {|b| %>
<h3>Customer</h3>
<p><%= b.name %></p>
<h5>contact Details</h5>
<p>Email: <%= b.email %></p>
<p>Location: <%= b.location %></p>
<br>
<%= button_to 'Accept Booking Request', confirm_event_path(b) %>
<br>
<%= button_to 'Delete Booking Request', destroy_event_path(b)%>

<% } %>
<br>
<br>
<%= button_to 'Logout', logout_path %>