
<h1> Check Our Availability </h1>
<p> Hello! Planning a party, corporate event, or general hullaballoo, and in the mood for some plant-based Thai goodness? </p>
<p> Say no more - select your date/s to check our availability, and submit the booking form. We'll get back to you
ASAP! </p>

<p><%= button_to "Create Booking Request", bookings_path, :method => :get %> </p>

<%= month_calendar(attribute: :start_date, end_attribute: :end_date, events: @bookings) do |date, bookings| %>
  <%= date %>

  <% bookings.each do |booking| %>
    <div>
      <%= "Date" %><br>
      <%= "Unavailable" %><br>
    </div>
  <% end %>
<% end %>




