<div class="container">
<h1 class="booking-head"> Check Our <span class="p-color">Availability</span> </h1>
<br>
<div class="flex">
<p class="center cool-font"> Hello! Planning a party, corporate event, or general hullaballoo, and in the mood for some plant-based Thai goodness? </p>
<br>

<p class="center cool-font"> Say no more - select your date/s to check our availability, and submit the booking form. We'll get back to you
ASAP! </p>
<br>

<p class="center"><%= button_to "Create Booking Request", bookings_path, :method => :get, class: 'btn' %> </p>
<br>
<br>
</div>
<h3 class="table-header">Check Availability Below</h3>
<div class="date-table">
<%= month_calendar(attribute: :start_date, end_attribute: :end_date, events: @bookings) do |date, bookings| %>
  <%= date %>
 
  <% bookings.each do |booking| %>
    <div>
      <%= "Date" %><br>
      <%= "Unavailable" %><br>
    </div>
  <% end %>
  <% end %>

</div>
</div>




